.resultat{
    width: 210mm;
    height: 297mm;
    background-color:  rgb(255, 254, 235);
    border: 2px solid black;
    box-shadow: 10px 10px 10px;
    font-family: Tahoma;
    font-size: 14px;
}

.resultat h1{
    color: white;
    background-color: blue;
}

.resultat .nom{
    color: black;
    background-color: rgb(255, 254, 235);
}

.resultat img{
    width: 20px;
    margin-bottom: -5px;
    margin-right: 10px;
}

.resultat .civ{
    margin-top: 20px;
    color: white;
}

.resultat .entete{
    background-color: rgb(168, 168, 168);
}
